<iframe src="https://discord.com/widget?id=1293651385795215423&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>

<section class="stats">
  <h4 class="stats-title">Eventos atuais</h4>
  
  <ul class="stats-list">
    <li><strong>
      <a href="{% post_url 2024/2024-10-08-novo-evento-sporetober-2024 %}">SPORETOBER</a>
    </strong> — de 1º a 31 de outubro de 2024.</li>
  </ul>
</section>

<p class="sporecast">
  <a href="http://www.spore.com/sporepedia#qry=ssc-501057576550" rel="external" target="_blank">Assine o Esporocast!</a><br />
  Receba as melhores criações selecionadas pela comunidade.
</p>

<section class="stats">
  <h4 class="stats-title">Esporísticas</h4>

  <ul class="stats-list">
    <li><strong data-total-uploads></strong><br />
      criações enviadas para a Sporepédia</li>
    <li><strong data-total-users></strong><br />
      usuários cadastrados no Spore.com</li>
    <li><strong data-daily-uploads></strong><br />
      criações enviadas no último dia</li>
    <li><strong data-daily-users></strong><br />
      usuários novos registrados no último dia</li>
  </ul>

  <p class="stats-credits">Feito com a <a href="https://www.spore.com/comm/developer/" rel="external">SporeAPI</a>.</p>
</section>

<script src="{% link assets/js/stats.js %}"></script>
